<!-- default app bar template that's used if client does not supply a custom template-->
<ng-template #defaultAppBarTemplate let-appBar>
    <button (click)="menuBtnClicked()" type="button" aria-label="Toggle sidenav" mat-icon-button *ngIf="appBar?.menuBtn">
		<mat-icon aria-label="Side nav toggle icon">
			menu
		</mat-icon>
	  </button>
    <span> {{ appBar?.appTitle || 'nrider'}} </span>
</ng-template>

<!-- default left nav if client does not supply custom left nav-->
<ng-template #defaultLeftNavTemplate let-leftNav>
    <mat-nav-list>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
</ng-template>

<!-- default page template if client does not provide a custom page template-->
<ng-template #defaultPageTemplate let-page>
    <section class="default-page">
        <h3>PAGE NOT FOUND</h3>
    </section>
</ng-template>

<!-- real estate for the app bar or the customized app bar passed in by client-->
<mat-toolbar color="primary">
    <ng-container [ngTemplateOutlet]="appBarTemplateRef || defaultAppBarTemplate" [ngTemplateOutletContext]="{ $implicit: appBar }"></ng-container>
</mat-toolbar>

<!-- side nav container real estate. This harbors the left nav and the main page viewed-->
<mat-sidenav-container class="sidenav-container">
    <!-- spot for the left nav -->
    <!-- <mat-sidenav class="sidenav" [fixedInViewport]="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="leftNav?.opened"> -->
    <mat-sidenav class="sidenav" [fixedInViewport]="leftNav?.fixed" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="'side'" [opened]="leftNav?.opened">
        <ng-container [ngTemplateOutlet]=" leftNavTemplateRef || defaultLeftNavTemplate" [ngTemplateOutletContext]="{ $implicit: leftNav }">
        </ng-container>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Add Content Here -->
        <!-- spot for the main content or page viewer-->
        <ng-container [ngTemplateOutlet]="pageTemplateRef || defaultPageTemplate" [ngTemplateOutletContext]="{ $implicit: page}">

        </ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>